.blo
{ color:rgb(136, 33, 232)
}
.hea
{ margin: 3px;
  color: rgb(151, 145, 145);
  margin-right: 13px;
} 
#in
{ display: inline-block;
    margin-right: 100px;
    margin-left: 10px;
}
#log
{ display: inline-block;
    margin-left: 100px;
}
body
{ background-color: rgb(9, 3, 39);
}
header{
  border-color: rgb(73, 61, 158);
  border-style: solid;
  border-width: 0.05px;
}
#des
{ padding-left: 60px;
  padding-top:60px ;
  color:rgb(151, 145, 145);
  display:inline-block;
  vertical-align: top;
}
#t
{ font-size:65px;
  margin-top: 5px;
  margin-bottom: 5px;
  color:white;
}
#vier
{ background-color: rgb(83, 46, 217);
  border-color: rgba(132, 29, 251, 0.873);
  width:120px;
  height:40px;
  border-radius: 5px;
  border-width: 0.8px;
  color:white;
  display:inline-block;
  margin-right: 15px;
}
#vier:hover
{ transition-duration:100ms;
  transform: scale(1.1);

}
#viep
{ background-color: rgb(0, 0, 0);
  border-color: rgba(236, 232, 240, 0.873);
  width:120px;
  height:40px;
  border-radius: 5px;
  border-width: 0.8px;
  color:white;
  display:inline-block;
  margin-right: 15px;
}
#viep:hover
{ transition-duration:100ms;
  transform: scale(1.1);
}
#imp
{ background-image:url("safety.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display:inline-block;
  border-radius: 50%;
  width:280px;
  height:260px;
  margin-left:150px;
  margin-top: 60px;
  vertical-align: top;
  border-color: rgb(82, 92, 242);
  border-width: 3px;
  border-style: solid;
}
.ic
{ display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  border-radius:50%;
  background-color: rgb(43, 33, 109);
  width:30px;
  height:30px;
}
.ic i
{ color:white;
}
#sh
{ margin-top: 20px;
}
#p2
{ margin-top: 20px;
  background-color: rgb(7, 2, 27);
  padding-left:60px;
  padding-top: 20px;
  border-color: rgb(115, 10, 207);
  border-radius: 10px;
  border-style: solid;  
  border-width: 0.0001px ;
}
#ge
{ margin-top: 5px;
  color:white;
  margin-bottom: 5px;
}
#hb
{ width: 25px;
  border-color: rgb(115, 10, 207);
  border-width: 2px;
  border-style: solid;
  margin-left: 0;
  margin-bottom:10px;
}
.p2f
{ color:rgb(151, 145, 145);
}
.p2c
{ color:rgb(151, 145, 145);
  margin-bottom: 8px;
}
.p2c i
{ color:rgb(131, 19, 235);
  margin-right: 10px;
}
#ab
{ display:inline-block;
  margin-right:50px;
}
.lb
{ width:150px;
  height:160px;
  margin-top:30px;
  background-color: rgb(24, 29, 43); 
  border-style: solid;
  border-color: grey;
  border-width:0.01px;
  border-radius:10px;
  display:inline-block;
  vertical-align: top;
  margin-right:20px;
}
.lb:hover
{ transition-duration:100ms;
  transform: scale(1.1);
}
#gi
{ display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  border-radius:50%;
  border-width: 0.005px;
  border-color: rgb(15, 32, 85);
  background-color: rgb(2, 10, 29);
  border-style: solid;
  margin-left: 15px;
  margin-top: 10px;
}
#gi i
{ color:rgb(198, 191, 191);
  font-size: 30px;
}
#tl
{ display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  border-radius:50%;
  border-width: 0.005px;
  border-color: rgb(15, 32, 85);
  background-color: rgb(2, 10, 29);
  border-style: solid;
  margin-left: 15px;
  margin-top: 10px;
}
#tl i
{ color:rgb(82, 24, 148);
  font-size: 20px;
}
#toi
{ display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  border-radius:50%;
  border-width: 0.005px;
  border-color: rgb(15, 32, 85);
  background-color: rgb(2, 10, 29);
  border-style: solid;
  margin-left: 15px;
  margin-top: 10px;
}
#toi i
{ color:rgb(141, 15, 180);
  font-size: 24px;
}
#coi
{ display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  border-radius:50%;
  border-width: 0.005px;
  border-color: rgb(15, 32, 85);
  background-color: rgb(2, 10, 29);
  border-style: solid;
  margin-left: 15px;
  margin-top: 10px;
}
#coi i
{ color:rgb(41, 59, 224);
  font-size: 24px;
}
.bf
{ color:white;
  margin-top:5px;
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 35px;
}
.cf
{ color:rgb(151, 145, 145);
  margin-left:15px;
}
.cf2
{ color:rgb(151, 145, 145);
  margin-left:15px;
  margin-top: 5px;
}
#p3
{ margin-top: 10px;
  background-color: rgb(10, 3, 39);
  padding-left:60px;
  padding-top: 5px;
}
#p3t
{ color:white;
  margin-left: 480.5px;

}
#hb2
{ width: 60px;
  border-color: rgb(115, 10, 207);
  border-width: 2px;
  border-style: solid;
  margin-left: 478px;
  margin-bottom:15px;
  
}
.opt
{ display:inline-block;
  vertical-align: top;
  margin-right: 80px;
}
.bopt
{ color:beige;
  font-size: 15px;
}
.blan
{ border-style: solid;
  border-color: grey;
  border-width: 0.01px;
  border-radius: 8px;
  margin-top: 5px;
  display: inline-block;
  padding-left: 0;
  color:white;
  padding-right: 10px;
  margin-right: 10px;
}
.blan:hover
{ transition-duration:100ms;
  transform: scale(1.1);
}
.blan ul
{ 
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.blan li::marker {
    color: rgb(222, 168, 6);
}
.bweb
{ border-style: solid;
  border-color: grey;
  border-width: 0.01px;
  border-radius: 8px;
  margin-top: 5px;
  display: inline-block;
  padding-left: 0;
  color:white;
  padding-right: 10px;
  margin-right: 10px;
}
.bweb:hover
{ transition-duration:100ms;
  transform: scale(1.1);
}
.bweb ul
{ 
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bweb li::marker {
    color: rgb(10, 83, 143);
}
.btec
{ border-style: solid;
  border-color: grey;
  border-width: 0.01px;
  border-radius: 8px;
  margin-top: 5px;
  display: inline-block;
  padding-left: 0;
  color:white;
  padding-right: 10px;
  margin-right: 10px;
}
.btec:hover
{ transition-duration:100ms;
  transform: scale(1.1);
}
.btec ul
{ 
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btec li::marker {
    color: rgb(9, 167, 156);
}
.bot
{ border-style: solid;
  border-color: grey;
  border-width: 0.01px;
  border-radius: 8px;
  margin-top: 5px;
  display: inline-block;
  padding-left: 0;
  color:white;
  padding-right: 10px;
  margin-right: 10px;
}
.bot:hover
{ transition-duration:100ms;
  transform: scale(1.1);
}
.bot ul
{ 
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bot li::marker {
    color: rgb(86, 9, 209);
}
#p4
{ margin-top: 10px;
  background-color: rgb(31, 3, 83);
  padding-left:60px;
  padding-top: 5px;
  border-color: rgb(30, 21, 114);
  border-radius: 3px;
  border-style: solid;  
  border-width: 0.1px ;
}
#p4head
{ display:flex;
  align-items: center;
  margin-right: 60px;
}
#hb3
{ width: 120px;
  border-color: rgb(115, 10, 207);
  border-width: 2px;
  border-style: solid;
  margin-left: 460px;
  margin-bottom:10px;
  margin-top: 5px;
}
.lpro
{ width:360px;
  height:320px;
  margin-top:30px;
  background-color: rgb(24, 29, 43); 
  border-style: solid;
  border-color: rgb(87, 86, 86);
  border-width:0.01px;
  border-radius:10px;
  display:inline-block;
  vertical-align: top;
  margin-right:15px;
}
#vlp
{ background-color: rgb(0, 0, 0);
  border-color: rgba(118, 50, 186, 0.873);
  width:150px;
  height:30px;
  border-radius: 5px;
  border-width: 0.8px;
  color:white;
  margin-left:400px;
}
#vlp:hover
{ transition-duration:100ms;
  transform: scale(1.1);
}
#p4t
{ color:white;
  margin-left: 460px;
  white-space: nowrap;
}
#toima
{ background-image:url("tou.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius:10px;
  width:360px;
  height:160px;
  vertical-align: top;
}
.phe
{ color:rgb(198, 191, 191);
  margin-left: 10px;
  margin-top: 15px;
  font-size: 20px;
  display:inline-block;
}
.phtext
{ color:rgb(151, 145, 145);
  margin-left: 10px;
  margin-top: 5px;
  padding-right: 10px;
}
.pcon
{ border-style: solid;
  border-color: rgb(64, 62, 62);
  border-width: 0.01px;
  border-radius: 8px;
  margin-top: 0;
  display: inline-block;
  color:white;
  padding:8px;
  margin-right: 0;
  margin-left: 10px;
  font-size: 11px;
}
#toani
{ background-image:url("ani.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius:10px;
  width:360px;
  height:160px;
  vertical-align: top;
}
#tores
{ background-image:url("portf.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius:10px;
  width:360px;
  height:160px;
  vertical-align: top;
}
.proic
{ display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius:50%;
  background-color: rgb(47, 46, 58);
  width:25px;
  height:25px;
}
.proic i
{ color:white;
}
#p5
{ margin-top: 10px;
  background-color: rgb(21, 2, 54);
  padding-top: 5px;
  border-color: rgb(38, 27, 134);
  border-radius: 3px;
  border-style: solid;  
  border-width: 0.01px ;
  display:flex;
  height: 300px;
  flex-direction: column;
  
}
#p5t
{ color:white;
  margin-left:60px;
  width: 100%;
  margin-top: 10px;
}
#p5tdash
{ width: 30px;
  border-color: rgb(115, 10, 207);
  border-width: 2px;
  border-style: solid;
  margin-left: 60px;
  margin-bottom:10px;
  margin-top: 5px;
}
#p5cont
{ display: flex;
  flex-direction: row;

}
#p5cin
{ display:flex;
  flex-direction: column;
}
.p5contel
{ color:rgb(151, 145, 145);
  margin-bottom: 8px;
  padding-left: 60px;
}
.p5contel i
{ color:rgb(131, 19, 235);
  margin-right: 10px;
}
#p5dat
{ display: flex;
  flex-direction: column;
}
#p5ne
{ display: flex;
  flex-direction: row;
}
#p5dname
{ color:rgb(151, 145, 145);
  border-color: gray;
  height:35px;
  width: 340px;
  margin-left: 120px;
  margin-top: -10px;
  border-style: solid;
  border-width: 0.01px;
  border-radius: 4px;
  background-color: rgb(24, 29, 43); 
}
#p5demail
{ color:rgb(151, 145, 145);
  border-color: gray;
  height:35px;
  width: 340px;
  margin-left: 8px;
  margin-top: -10px;
  border-style: solid;
  border-width: 0.01px;
  border-radius: 4px;
  background-color: rgb(24, 29, 43); 
}
#p5dmes
{ display: flex;
  flex-direction: column;
}
#p5dm
{ color:rgb(151, 145, 145);
  border-color: gray;
  height:70px;
  width: 698px;
  margin-left: 120px;
  margin-top: 10px;
  border-style: solid;
  border-width: 0.01px;
  border-radius: 4px;
  background-color: rgb(24, 29, 43); 
}
#p5mesub
{ color:white;
  background-color: rgb(54, 21, 198);
  margin-left: 120px;
  margin-top:5px;
  width:150px;
  height: 40px;
  border-color:  rgb(76, 75, 91);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
#p5mesub:active
{ transform: scale(1.1);
}
#p6
{ display: flex;
  flex-direction: row;
}
#p6n
{ color:rgb(136, 33, 232);
  margin-left: 60px;
}
#p6s
{ color:white;
}
#p6trade
{ color: rgb(151, 145, 145);
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}